.alert-box {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
}

.alert {
  margin: 0.5vw;
  padding: 1vw;
  width: 12vw;
  border-radius: 5px;
  opacity: 0.7;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.alert-text {
  font-size: 1vw;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

i {
  color: #ffffff;
}

.error {
  background-color: #ff1212;
}

.success {
  background-color: #00d458;
}

.warning {
  background-color: #f5c842;
}
/*# sourceMappingURL=alert.css.map */