.header {
  z-index: 10;
  position: sticky;
  top: 0px;
  padding: 10px 0;
  background-color: #ffffff;
  height: 30px;
  animation: 1s ease-out 0s 1 slide-in-from-up;
}

.header__content {
  margin: auto;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 30px;
}

.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__actions .notification {
  margin-right: 20px;
  color: #999999;
}

.header__actions .notification:hover {
  color: #000000;
}

.header__actions .profile {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #f8991c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__actions .profile:hover {
  background: #ed6f00;
}

.header__actions .profile__name {
  color: #ffffff;
  font-size: 0px;
}

.header__actions .profile__name::first-letter {
  font-size: 18px;
}

.header__actions .profile .checkbox {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.header__actions .profile .checkbox:checked ~ .profile__info {
  position: absolute;
  top: 35px;
  right: 5px;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 3px 6px 15px 5px rgba(111, 111, 111, 0.25);
  padding: 5px;
}

.header__actions .profile__info {
  display: none;
}

.header__actions .profile__info span {
  margin: 2px;
  padding: 5px;
}

.header__actions .profile__info .name {
  font-size: 14px;
  color: #999999;
  text-align: center;
  border-bottom: 1px #999999 solid;
}

.header__actions .profile__info .action:hover {
  background-color: #f7f7f7;
}

@keyframes slide-in-from-up {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/*# sourceMappingURL=header.css.map */