@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-elliptic-top-bck {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

@keyframes bounce-out-top {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  5% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  15% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translateY(-38px);
    animation-timing-function: ease-in;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  52% {
    transform: translateY(-75px);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    opacity: 0;
  }
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes scale-out-bottom {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

@keyframes swing-out-left-bck {
  0% {
    transform: rotateY(0);
    transform-origin: left;
    opacity: 1;
  }
  100% {
    transform: rotateY(100deg);
    transform-origin: left;
    opacity: 0;
  }
}

@keyframes roll-out-top {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
}

.mosaic {
  width: 100%;
  display: grid;
  grid-template-columns: 20vw 20vw 24vw 16vw;
  grid-template-rows: 15vw 3vw 5vw 4vw 5vw 4vw;
}

.mosaic__logo {
  position: relative;
  background-color: #ffffff;
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mosaic__logo:hover .cover {
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.mosaic__logo:hover .content {
  display: block;
}

.mosaic__logo:hover .content button {
  background-color: #2d99ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1.5vw 4vw;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
}

.mosaic__logo:hover .content button:hover {
  background-color: #0443a3;
}

.mosaic__logo .cover {
  position: absolute;
  z-index: 2;
  height: 100%;
  display: block;
}

.mosaic__logo .cover img {
  height: 100%;
}

.mosaic__logo .content {
  display: none;
}

.mosaic__js {
  position: relative;
  grid-column: 2;
  grid-row: 1 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.mosaic__js:hover {
  background-color: #ffffff;
  align-items: flex-start;
}

.mosaic__js:hover .cover {
  animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}

.mosaic__js:hover .content {
  padding: 15px;
  display: block;
  font-size: 1.5vw;
  font-weight: bold;
}

.mosaic__js .cover {
  background-color: #f7cf69;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 8vw;
  font-weight: bold;
}

.mosaic__js .content {
  display: none;
}

.mosaic__php {
  position: relative;
  grid-column: 3 / 5;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mosaic__php:hover {
  background-color: #ffffff;
}

.mosaic__php:hover .cover {
  animation: bounce-out-top 1.5s both;
}

.mosaic__php:hover .content {
  padding: 15px;
  display: block;
  font-size: 1.5vw;
  font-weight: bold;
}

.mosaic__php .cover {
  background-color: #8893c0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  font-style: italic;
}

.mosaic__php .content {
  display: none;
}

.mosaic__qa {
  position: relative;
  grid-column: 1;
  grid-row: 3 / 7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mosaic__qa:hover {
  background-color: #ffffff;
}

.mosaic__qa:hover .cover {
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.mosaic__qa:hover .content {
  padding: 15px;
  display: block;
  color: #000000;
  font-size: 1.5vw;
  font-weight: bold;
}

.mosaic__qa .cover {
  background-color: #52bf77;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 8vw;
}

.mosaic__qa .content {
  display: none;
}

.mosaic__java {
  position: relative;
  grid-column: 2;
  grid-row: 5 / 7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mosaic__java:hover {
  background-color: #ffffff;
}

.mosaic__java:hover .cover {
  animation: scale-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.mosaic__java:hover .content {
  padding: 15px;
  display: block;
  color: #000000;
  font-size: 1.5vw;
  font-weight: bold;
}

.mosaic__java .cover {
  background-color: #e12b4c;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 4vw;
}

.mosaic__java .content {
  display: none;
}

.mosaic__net {
  position: relative;
  grid-column: 3;
  grid-row: 2 / 7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mosaic__net:hover {
  background-color: #ffffff;
}

.mosaic__net:hover .cover {
  animation: swing-out-left-bck 0.45s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

.mosaic__net:hover .content {
  padding: 15px;
  display: block;
  color: #000000;
  font-size: 1.5vw;
  font-weight: bold;
}

.mosaic__net .cover {
  background-color: #642077;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 8vw;
}

.mosaic__net .content {
  display: none;
}

.mosaic__events {
  position: relative;
  grid-column: 4;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  font-size: 1.5vw;
}

.mosaic__events:hover {
  background-color: #ffffff;
  align-items: flex-start;
}

.mosaic__events:hover .cover {
  animation: roll-out-top 0.6s ease-in both;
}

.mosaic__events:hover .content {
  display: block;
  color: #000000;
  font-weight: bold;
  height: 100%;
  overflow-y: auto;
}

.mosaic__events .cover {
  background-color: #2d99ff;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.mosaic__events .content {
  display: none;
}

.mosaic__blog {
  position: relative;
  grid-column: 4;
  grid-row: 4 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

.mosaic__blog:hover {
  background-color: #ffffff;
}

.mosaic__blog:hover .cover {
  animation: roll-out-top 0.6s ease-in both;
}

.mosaic__blog:hover .content {
  padding: 15px;
  display: block;
  color: #000000;
  font-weight: bold;
}

.mosaic__blog .cover {
  background-color: #0443a3;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.mosaic__blog .content {
  display: none;
}

.mosaic__contacts {
  position: relative;
  grid-column: 4;
  grid-row: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

.mosaic__contacts:hover {
  background-color: #ffffff;
}

.mosaic__contacts:hover .cover {
  animation: roll-out-top 0.6s ease-in both;
}

.mosaic__contacts:hover .content {
  padding: 15px;
  display: block;
  font-size: 1.5vw;
}

.mosaic__contacts:hover .content i {
  color: #000000;
}

.mosaic__contacts:hover .content i:hover {
  color: #2d99ff;
}

.mosaic__contacts .cover {
  background-color: #00265f;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.mosaic__contacts .content {
  display: none;
}

@media (max-width: 1000px) {
  .mosaic {
    grid-template-columns: 30vw 10vw 25vw 15vw;
    grid-template-rows: 12vw 12vw 6vw 15vw 15vw;
  }
  .mosaic__logo {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
  .mosaic__js {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }
  .mosaic__events {
    grid-column: 4;
    grid-row: 1;
  }
  .mosaic__blog {
    grid-column: 4;
    grid-row: 2;
  }
  .mosaic__contacts {
    grid-column: 4;
    grid-row: 3;
  }
  .mosaic__java {
    grid-column: 1 / 3;
    grid-row: 4;
  }
  .mosaic__qa {
    grid-column: 1 / 3;
    grid-row: 5;
  }
  .mosaic__php {
    grid-column: 3 / 5;
    grid-row: 4;
  }
  .mosaic__net {
    grid-column: 3 / 5;
    grid-row: 5;
  }
}
/*# sourceMappingURL=mosaic.css.map */