.header {
  z-index: 10;
  position: sticky;
  top: 0px;
  padding: 10px 0;
  background-color: #ffffff;
  height: 30px;
  animation: 1s ease-out 0s 1 slide-in-from-up;

  &__content {
    margin: auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 30px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .notification {
      margin-right: 20px;
      color: #999999;

      &:hover {
        color: #000000;
      }
    }

    .profile {
      position: relative;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #f8991c;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: #ed6f00;
      }

      &__name {
        color: #ffffff;
        font-size: 0px;

        &::first-letter {
          font-size: 18px;
        }
      }

      .checkbox {
        position: absolute;
        opacity: 0;
        z-index: 2;
      }

      .checkbox:checked ~ .profile__info {
        position: absolute;
        top: 35px;
        right: 5px;
        width: 150px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: 3px 6px 15px 5px rgba(111, 111, 111, 0.25);
        padding: 5px;
      }

      &__info {
        display: none;

        span {
          margin: 2px;
          padding: 5px;
        }

        .name {
          font-size: 14px;
          color: #999999;
          text-align: center;
          border-bottom: 1px #999999 solid;
        }

        .action:hover {
          background-color: #f7f7f7;
        }
      }
    }
  }
}

@keyframes slide-in-from-up {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
