@import "header";
@import "mosaic";
@import "footer";
@import "alert";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  background-color: #f8f9fc;
  font-family: Arial, sans-serif;
}

.pointer {
  cursor: pointer;
}

.main {
  margin: 2rem auto;
  width: 80vw;
}
