@import "animations";
@import "constants";

.mosaic {
  width: 100%;
  display: grid;
  grid-template-columns: 20vw 20vw 24vw 16vw;
  grid-template-rows: 15vw 3vw 5vw 4vw 5vw 4vw;

  &__logo {
    position: relative;
    background-color: $white-color;
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      .cover {
        animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
          both;
      }

      .content {
        display: block;
        button {
          background-color: #2d99ff;
          border: none;
          border-radius: 5px;
          color: white;
          padding: 1.5vw 4vw;
          text-align: center;
          text-decoration: none;
          font-size: $default-font;

          &:hover {
            background-color: #0443a3;
          }
        }
      }
    }

    .cover {
      position: absolute;
      z-index: 2;
      height: 100%;
      display: block;

      img {
        height: 100%;
      }
    }

    .content {
      display: none;
    }
  }

  &__js {
    position: relative;
    grid-column: 2;
    grid-row: 1 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    &:hover {
      background-color: $white-color;
      align-items: flex-start;

      .cover {
        animation: slide-out-elliptic-top-bck 0.7s ease-in both;
      }

      .content {
        padding: 15px;
        display: block;
        font-size: $default-font;
        font-weight: bold;
      }
    }

    .cover {
      background-color: #f7cf69;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 8vw;
      font-weight: bold;
    }

    .content {
      display: none;
    }
  }

  &__php {
    position: relative;
    grid-column: 3 / 5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &:hover {
      background-color: $white-color;

      .cover {
        animation: bounce-out-top 1.5s both;
      }

      .content {
        padding: 15px;
        display: block;
        font-size: $default-font;
        font-weight: bold;
      }
    }

    .cover {
      background-color: #8893c0;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 7vw;
      font-style: italic;
    }

    .content {
      display: none;
    }
  }

  &__qa {
    position: relative;
    grid-column: 1;
    grid-row: 3 / 7;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &:hover {
      background-color: $white-color;

      .cover {
        animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
          both;
      }

      .content {
        padding: 15px;
        display: block;
        color: $black-color;
        font-size: $default-font;
        font-weight: bold;
      }
    }

    .cover {
      background-color: #52bf77;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white-color;
      font-size: 8vw;
    }

    .content {
      display: none;
    }
  }

  &__java {
    position: relative;
    grid-column: 2;
    grid-row: 5 / 7;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &:hover {
      background-color: $white-color;

      .cover {
        animation: scale-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
          both;
      }

      .content {
        padding: 15px;
        display: block;
        color: $black-color;
        font-size: $default-font;
        font-weight: bold;
      }
    }

    .cover {
      background-color: #e12b4c;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white-color;
      font-size: 4vw;
    }

    .content {
      display: none;
    }
  }

  &__net {
    position: relative;
    grid-column: 3;
    grid-row: 2 / 7;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &:hover {
      background-color: $white-color;

      .cover {
        animation: swing-out-left-bck 0.45s
          cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
      }

      .content {
        padding: 15px;
        display: block;
        color: $black-color;
        font-size: $default-font;
        font-weight: bold;
      }
    }

    .cover {
      background-color: #642077;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white-color;
      font-size: 8vw;
    }

    .content {
      display: none;
    }
  }

  &__events {
    position: relative;
    grid-column: 4;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    font-size: $default-font;

    &:hover {
      background-color: $white-color;
      align-items: flex-start;

      .cover {
        animation: roll-out-top 0.6s ease-in both;
      }

      .content {
        display: block;
        color: $black-color;
        font-weight: bold;
        height: 100%;
        overflow-y: auto;
      }
    }

    .cover {
      background-color: #2d99ff;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white-color;
    }

    .content {
      display: none;
    }
  }

  &__blog {
    position: relative;
    grid-column: 4;
    grid-row: 4 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $default-font;

    &:hover {
      background-color: $white-color;

      .cover {
        animation: roll-out-top 0.6s ease-in both;
      }

      .content {
        padding: 15px;
        display: block;
        color: $black-color;
        font-weight: bold;
      }
    }

    .cover {
      background-color: #0443a3;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white-color;
    }

    .content {
      display: none;
    }
  }

  &__contacts {
    position: relative;
    grid-column: 4;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $default-font;

    &:hover {
      background-color: $white-color;

      .cover {
        animation: roll-out-top 0.6s ease-in both;
      }

      .content {
        padding: 15px;
        display: block;
        font-size: $default-font;

        i {
          color: $black-color;

          &:hover {
            color: #2d99ff;
          }
        }
      }
    }

    .cover {
      background-color: #00265f;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white-color;
    }

    .content {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .mosaic {
    grid-template-columns: 30vw 10vw 25vw 15vw;
    grid-template-rows: 12vw 12vw 6vw 15vw 15vw;

    &__logo {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
    }

    &__js {
      grid-column: 3 / 4;
      grid-row: 1 / 4;
    }

    &__events {
      grid-column: 4;
      grid-row: 1;
    }

    &__blog {
      grid-column: 4;
      grid-row: 2;
    }

    &__contacts {
      grid-column: 4;
      grid-row: 3;
    }

    &__java {
      grid-column: 1 / 3;
      grid-row: 4;
    }

    &__qa {
      grid-column: 1 / 3;
      grid-row: 5;
    }

    &__php {
      grid-column: 3 / 5;
      grid-row: 4;
    }

    &__net {
      grid-column: 3 / 5;
      grid-row: 5;
    }
  }
}
